<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog de cafe</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krub&family=Lobster&family=M+PLUS+1+Code:wght@100;300&family=Noto+Serif:ital,wght@1,400;1,700&family=Open+Sans&family=PT+Sans:wght@400;700&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="contenedor">
        <div class="barra">
          <a class="logo" href="index.html">
            <h1 class="logo__nombre no-margin centrar-texto">
              Blog<span class="logo__bold">DeCafe</span>
            </h1>
          </a>
          <nav class="navegacion">
            <a href="{{ url_for('nosotros') }}" class="navegacion__enlace"
              >Nosotros</a
            >
            <a href="{{ url_for('cursos') }}" class="navegacion__enlace"
              >Cursos</a
            >
            <a href="{{ url_for('contacto') }}" class="navegacion__enlace"
              >Contacto</a
            >
          </nav>
        </div>
      </div>
      <div class="header__texto">
        <h2 class="no-margin">Blog de Cafe con consejos y cursos</h2>
        <p class="no-margin">Aprende de los expertos</p>
      </div>
    </header>
    <main class="contenedor">
      <h3 class="centrar-texto">Nuestros Proximos Cursos y Talleres</h3>

      <div class="curso">
        <div class="curso__imagen">
          <img
            src="{{ url_for('static', filename='img/curso1.jpg') }}"
            alt="imagen del curso"
          />
        </div>
        <div class="curso__informacion">
          <h4 class="no-margin">Tecnicas de Extraccion De cafe</h4>
          <p class="curso__label">
            Precio: <span class="widget-curso__info">Gratis</span>
          </p>
          <p class="curso__label">Cupo<span class="curso__info">20</span></p>
          <p class="curso__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            debitis mollitia laudantium aut excepturi. Totam vero illum facere
            dolorem cupiditate repudiandae ipsa consequatur, nobis voluptatibus,
            maiores quos? Enim, reprehenderit quisquam.
          </p>
        </div>
      </div>
      <div class="curso">
        <div class="curso__imagen">
          <img
            src="{{ url_for('static', filename='img/curso2.jpg') }}"
            alt="imagen del curso"
          />
        </div>
        <div class="curso__informacion">
          <h4 class="no-margin">Taller para tostar y moler Grano</h4>
          <p class="curso__label">
            Precio: <span class="widget-curso__info">Gratis</span>
          </p>
          <p class="curso__label">Cupo<span class="curso__info">20</span></p>
          <p class="curso__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            debitis mollitia laudantium aut excepturi. Totam vero illum facere
            dolorem cupiditate repudiandae ipsa consequatur, nobis voluptatibus,
            maiores quos? Enim, reprehenderit quisquam.
          </p>
        </div>
      </div>
      <div class="curso">
        <div class="curso__imagen">
          <img
            src="{{ url_for('static', filename='img/curso3.jpg') }}"
            alt="imagen del curso"
          />
        </div>
        <div class="curso__informacion">
          <h4 class="no-margin">4 Recetas De Cafe Para Principiantes</h4>
          <p class="curso__label">
            Precio: <span class="widget-curso__info">Gratis</span>
          </p>
          <p class="curso__label">Cupo<span class="curso__info">20</span></p>
          <p class="curso__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
            debitis mollitia laudantium aut excepturi. Totam vero illum facere
            dolorem cupiditate repudiandae ipsa consequatur, nobis voluptatibus,
            maiores quos? Enim, reprehenderit quisquam.
          </p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="contenedor">
        <div class="contenedor">
          <div class="barra">
            <a class="logo" href="index.html">
              <h1 class="logo__nombre no-margin centrar-texto">
                Blog<span class="logo__bold">DeCafe</span>
              </h1>
            </a>
            <nav class="navegacion">
              <a href="{{ url_for('nosotros') }}" class="navegacion__enlace"
                >Nosotros</a
              >
              <a href="{{ url_for('cursos') }}" class="navegacion__enlace"
                >Cursos</a
              >
              <a href="{{ url_for('contacto') }}" class="navegacion__enlace"
                >Contacto</a
              >
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
